version: 2.1
orbs:
  codecov: codecov/codecov@3.2.3

defaults: &defaults
  docker:
    - image: cimg/python:3.10.0
  working_directory: ~/project

prepare_tox: &prepare_tox
  run:
    name: Install tox
    command: |
      pip install --upgrade pip
      pip uninstall -y virtualenv
      pip install --user tox

init_pypirc: &init_pypirc
  run:
    name: init .pypirc
    command: |
      echo -e "[pypi]" >> ~/.pypirc
      echo -e "repository = $FE_PYPI_URL" >> ~/.pypirc
      echo -e "username = $FE_PYPI_USER" >> ~/.pypirc
      echo -e "password = $FE_PYPI_API_KEY" >> ~/.pypirc

jobs:
  test_feature_engine_py39:
    docker:
      - image: cimg/python:3.9.0
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - *prepare_tox
      - run:
          name: Run tests with Python 3.9
          command: |
            tox -e py39

  test_feature_engine_py310:
    docker:
      - image: cimg/python:3.10.0
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - *prepare_tox
      - run:
          name: Run tests with Python 3.10
          command: |
            tox -e py310

  test_feature_engine_py311_sklearn100:
    docker:
      - image: cimg/python:3.11.7
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - *prepare_tox
      - run:
          name: Run tests with Python 3.11 and scikit-learn 1.0.0
          command: |
            tox -e py311-sklearn100

  test_feature_engine_py311_sklearn140:
    docker:
      - image: cimg/python:3.11.7
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - *prepare_tox
      - run:
          name: Run tests with Python 3.11 and scikit-learn 1.4.0
          command: |
            tox -e py311-sklearn140

  test_feature_engine_py312:
    docker:
      - image: cimg/python:3.12.1
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - *prepare_tox
      - run:
          name: Run tests with Python 3.12
          command: |
            tox -e py312

  test_style:
    docker:
      - image: cimg/python:3.10.0
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - *prepare_tox
      - run:
          name: Run stylechecks
          command: |
            tox -e stylechecks

  test_docs:
    docker:
      - image: cimg/python:3.10.0
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - *prepare_tox
      - run:
          name: Run doc build
          command: |
            tox -e docs

  test_type:
    docker:
      - image: cimg/python:3.10.0
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - *prepare_tox
      - run:
          name: Run typechecks
          command: |
            tox -e typechecks

  upload_codecov:
    docker:
      - image: cimg/python:3.10.0
    working_directory: ~/project
    steps:
      - checkout:
          path: ~/project
      - run:
          name: Run tests and collect coverage
          command: |
            pip install --upgrade pip
            pip install -r requirements.txt
            pip install -r test_requirements.txt
            coverage run -m pytest -v
            coverage report
      - codecov/upload

  package_and_upload_to_pypi:
    <<: *defaults
    steps:
      - checkout
      - *init_pypirc
      - run:
          name: upload to pypi
          command: |
            python -m venv env
            source env/bin/activate
            pip install --upgrade pip
            pip install twine wheel
            rm -rf dist/*
            python setup.py sdist bdist_wheel --universal
            ls -l dist
            twine upload dist/*

workflows:
  version: 2
  test-all:
    jobs:
      - test_feature_engine_py39
      - test_feature_engine_py310
      - test_feature_engine_py311_sklearn100
      - test_feature_engine_py311_sklearn140
      - test_feature_engine_py312
      - test_style
      - test_docs
      - test_type
      - upload_codecov:
          filters:
            branches:
              ignore:
                - 1.8.X
      - package_and_upload_to_pypi:
          requires:
            - test_feature_engine_py39
            - test_feature_engine_py310
            - test_feature_engine_py311_sklearn100
            - test_feature_engine_py311_sklearn140
            - test_feature_engine_py312
            - test_style
            - test_docs
            - test_type
          filters:
            branches:
              only:
                - 1.8.X