@import url("theme.css");


/* Css template from sklearn:
https://github.com/scikit-learn/scikit-learn/blob/f71c0313142c4e5f2f35a0021c36075cf8dba611/doc/themes/scikit-learn-modern/static/css/theme.css
*/

/* authors */
.authors-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* sponsors and testimonials */

div.sk-sponsor-div, div.sk-testimonial-div {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

div.sk-sponsor-div-box, div.sk-testimonial-div-box {
  width: 100%;
}

@media screen and (min-width: 500px) {
  div.sk-sponsor-div-box, div.sk-testimonial-div-box {
    width: 50%;
  }
}

.caption {
  text-align: center
}